/*  reset.css  重置样式，重置元素默认样式
    global.css 全局样式，全站公用，定义页面基础样式
    themes.css 主题样式，用于实现换肤功能
    module.css 模块样式，用于模块的样式
    master.css 母版样式，用于母版页的样式
    columns.css 专栏样式，用于专栏的样式
    form.css 表单样式，用于表单的样式
    mend.css 补丁样式，用于维护、修改的样式
    print.css 打印样式，用于打印的样式
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/
/*登录模块部分，开始*/
body,dl,dd,ul,ol,p,h1,h2,h3,h4,h5,h6,form,input,textarea,button{
    margin: 0;
    padding: 0;
}
body,button,input,textarea,select{
    font-family: 微软雅黑,Arial;
    font-size: 75%;
    font-style: normal;
    color: black;
    outline: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	border:none;
	vertical-align:middle;
}
.body-background-color{
    background-color: #53baff; 
}
.bgc-p{
    position: fixed;
    top: 5%;
    left: 30%;
    font-size: 50px;
    font-weight: 600;
    color: white;
}
.div-img{
    position: fixed;
    top: 14%;
    left: 59%;
    width: 80px;
    height: 80px;
    z-index: 999;
}
#box{
<<<<<<< HEAD
    position: fixed;
    top: 18%;
    left: 60%;
=======
    /*影响文档流的属性
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    /*盒子模型属性
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    /*文本性属性
    font-size: 15px;
    font-weight: bold;
    text-indent: 2em;
    /*装饰性属性
    color: white;
    background-color: red;
    /*其他属性
    cursor: pointer;*/
    position: relative; 
    margin: 0 auto;
>>>>>>> 03c43d0875e935180265cd4fa8ad2ceb87802c6a
    padding: 10px;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .24);  /*阴影效果*/  
}
#box p{
    margin: 20px;
    font-family: 微软雅黑;
    text-align: center;
    font-weight: bold;
}
.box-border{
    margin: 10px;
    height: 35px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
}
#box div svg{
    position: relative;
    top: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
}
.box-account{
    position: absolute;
    left: 70px;
    width: 213px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.box-pwd{
    position: absolute;
    left: 70px;
    width: 213px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.box-date{
    width: 100%;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 5px;
}
.box-border-white{
    margin: 10px;
    height: 35px;
<<<<<<< HEAD
    border: none;
    border-radius: 5px;
}
.box-button{
    margin: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.box-input-button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #2b88ff;
=======
    border: 0;
    border-radius: 5px;
}
.div_input_buttom{
>>>>>>> 03c43d0875e935180265cd4fa8ad2ceb87802c6a
    color: #ffffff;
    background-color: #2b88ff;
    cursor: pointer;
}
<<<<<<< HEAD
.copyright{
    position: fixed;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    height: 50px;
    line-height: 24px;
    background-color: #ffffff;
    text-align: center;
=======
.logo{
    position: relative;
    top: 20px;
    width: 80px;
    height:80px;
    z-index: 999;
}
.logo_font{
    display: block;
    font-family: 微软雅黑;
    font-size: 3.5em;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
}
.copyright{
    display: block;
    height: 8%;
    text-align: center;
    line-height: 24px;
    background-color: #ffffff;
>>>>>>> 03c43d0875e935180265cd4fa8ad2ceb87802c6a
}
/*登录模块部分，结束*/

/*ERP主界面部分，开始*/
.menu-first-div{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 25px;
    background-color: lightgray;
}
.menu-first>li{
    position: relative;
    float: left;
    width: 60px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    z-index: 99999;
}
.menu-first>li>ul.level1{
    display: none;
}
.menu-first>li>ul.level1>li>ul.level2-switch-main{
    display: none;
}
.menu-first>li>ul.level1>li>ul.level2-setting{
    display: none;
}
.menu-first>li>ul.level1>li{
    width: 150px;
    text-align: left;
    background-color: #ffffff;
}
.menu-first>li>ul.level1>li img{
    position: relative;
    top: -2px;
    left: 4px;
    width: 16px;
    height: 16px;
}
.menu-first>li>ul.level1>li>ul.level2-switch-main>li{
    width: 150px;
    text-align: left;
    background-color: #ffffff;
}
.menu-first>li>ul.level1>li>ul.level2-setting>li{
    width: 150px;
    text-align: left;
    background-color: #ffffff;
}
.menu-first>li>ul.level1>li>ul.level2-switch-main{
    position: absolute;
    top: 100px;
    left: 150px;
}
.menu-first>li>ul.level1>li>ul.level2-setting{
    position: absolute;
    top: 150px;
    left: 150px;
}
.menu-first>li:hover{
    background-color: #ffffff;
}
.menu-first>li:hover>ul.level1{
    display: block;
}
.menu-first>li>ul.level1>li:hover>ul.level2-switch-main{
    display: block;
}
.menu-first>li>ul.level1>li:hover>ul.level2-setting{
    display: block;
}
.menu-first>li>ul.level1>li:hover{
    background-color: darkgray;
}
.menu-first>li>ul.level1>li>ul.level2-switch-main>li:hover{
    background-color: darkgray;
}
.menu-first>li>ul.level1>li>ul.level2-setting>li:hover{
    background-color: darkgray;
}
.menu-secend-div{
    position: absolute;
    top: 25px;
    width: 100%;
    height: 60px;
    background-color: rgb(230, 230, 230);
}
.menu-secend li{
    float: left;
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 30px;
}
.menu-secend li img{
    display: block;
    position: relative;
    margin: 0 auto;
    top: 5px;
    width: 30px;
    height: 30px;
}
.menu-secend li span{
    display: block;

}
.menu-third-div{
    position: absolute;
    top: 85px;
    width: 150px;
    height: 100%;
    background-color: rgba(183, 193, 207, 0.973);
}
.menu-third>li{
    display: block;
    position: relative;
    top: 20px;
    left:20px ;
    width: 200px;
    height: 35px;
    font-weight: bolder;
    text-align: left;
    color: black;
}
.menu-third>li img{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
}
/*ERP主界面部分，结束*/
