body,dl,dd,ul,ol,p,h1,h2,h3,h4,h5,h6,form,input,textarea,button{
    margin: 0;
    padding: 0;
}
body,button,input,textarea,select{
    font-family: 微软雅黑,Arial, Helvetica, sans-serif,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #666666;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	border:none;
	vertical-align:middle;
}
body{
    background-image: linear-gradient(to right,#53baff 10%,#2b88ff 100%);
    text-decoration: none;
}
#box{
    margin: 0 auto;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;    
}
h4{
    font-family: 微软雅黑;
    font-style: normal;
    font-size: 16px;
    background-color:#ffffff;
    text-align: center;
    line-height: 30px;
}
form{
    margin: 0 auto;
    width: 250px;
    background-color:#ffffff;
}
.div_border{
    margin: 10px auto;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
}
.div_border_white{
    margin: 10px auto;
    height: 35px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
input{
    display: block;
    width: 100%;
    height: 35px;
    border: 0;
    border-radius: 5px;
}

.left_logo
{
    width: 80px;
    height:80px;
    margin-right: 20px;
}
.logo_font
{
    font-family: 微软雅黑;
    font-size: 40px;
    font-style: normal;
    color: #ffffff;
    letter-spacing: 4px;
    font-weight: 600;
    line-height: 50px;
    display: flex;
}
.copyright
{
    width: 100%;
    height: 120px;
    padding-top: 30px;
    background-color:#ffffff;
    text-align: center;
    line-height: 24px;
}