$border-main: 1px solid #888;
$border-active-link: 3px solid #888;
$background-color-level1: #2e2e2e;
$background-color-level2: #888;
$background-color-level3: #f2f2f2;
$link-color-level1: #fff;
$hover-color-level1: #fff;
$hover-background-color-level2: darken($background-color-level2, 5%);
$hover-background-color-level3: darken($background-color-level3, 3%);
$border-bottom-level2: 1px solid lighten($background-color-level1, 20%);
$link-color-level2: #FFAE00;
$link-color-level2: lighten($link-color-level2, 20%);

@import "lazeemenu";
