/*阅读角JavaScript电子数据资料部分：开始*/
body,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
<<<<<<< HEAD
}
.div-contents{
    width: 100%;
=======
    color: cornsilk;
}
.div-contents{
    padding: 5%;
    width: 90%;
>>>>>>> 03c43d0875e935180265cd4fa8ad2ceb87802c6a
    height: 100%;
    font-family: 微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 56%;
    text-align: left;
    vertical-align: middle;    
    color: cornsilk;
    background-color: cadetblue;
}
.div-contents>ul{
    list-style: none;
    line-height: 200%;
}
.div-text{
    padding: 5%;
<<<<<<< HEAD
    width: 100%;
=======
    width: 90%;
>>>>>>> 03c43d0875e935180265cd4fa8ad2ceb87802c6a
    height: 100%;
    font-family: 微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 56%;
    text-align: center;
    vertical-align: middle;
    color: black;
    background-color: khaki;
}
.h2-style{
    font-size: 300%;
    color: seagreen;
}
.h1-style{
    font-size: 400%;
    color: black;
}
.h3-style{
    font-size: 300%; 
    font-weight: bolder;

}
p{
    text-align: left;
    vertical-align: middle;
    line-height: 150%;
}
.p-level1{
    font-size: 200%;
    font-weight: bolder;
}
.p-level2{
    font-size: 150%; 
    font-weight: bolder;
    background-color: darkgrey;
}
.p-level3{
    font-size: 100%; 
    font-weight: bolder;
    border: 0px;
    border-bottom: 1px black;
    border-style: dashed;
}
img{
    width: 50%;
    height: 50%;
}
.p-point{
    font-weight: bolder;
    color: crimson;
}
li{
    text-align: left;
    vertical-align: middle;
    line-height: 24px;
}
.p-grammar{
    font-weight: bolder;
    border: 0px;
    border-bottom: 1px black;
    border-style: solid;
    color: mediumseagreen;
}
xmp{
    text-align: left;
    font-family: 'Times New Roman', Times, serif,微软雅黑;
    font-size: 100%;
}
.p-explain{
    font-weight: bolder;
    color: mediumseagreen;
}
/*阅读角JavaScript电子数据资料部分：结束*/