body,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 150%;
    font-weight: bolder;
    font-family: 微软雅黑，Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.div-html{
    width: 20%;
    height: 200%;
    background-color: crimson;
}
.div-css{
    width: 20%;
    height: 200%;
    background-color: violet;
}
.div-javascript{
    width: 20%;
    height: 200%;
    background-color: teal;
}
