.div-contents{
    width: 60%;
    height: 100%;
    background-color: cadetblue;
    font-family: 微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 56%;
    color: cornsilk;
    text-align: left;
    vertical-align: middle;
}
.div-contents>ul{
    list-style: none;
    line-height: 200%;
}
.div-text{
    padding: 5%;
    width: 70%;
    height: 100%;
    background-color: khaki;
    font-family: 微软雅黑,Arial, Helvetica, sans-serif;
    font-size: 56%;
    color: black;
    text-align: center;
    vertical-align: middle;
}
.h2-style{
    color: seagreen;
    font-size: 300%;
}
.h1-style{
    color: black;
    font-size: 400%;
}
.h3-style{
    font-size: 300%; 
    font-weight: bolder;

}
p{
    text-align: left;
    vertical-align: middle;
    line-height: 150%;
}
.p-level1{
    font-size: 200%;
    font-weight: bolder;
}
.p-level2{
    font-size: 150%; 
    font-weight: bolder;
    background-color: darkgrey;
}
.p-level3{
    font-size: 100%; 
    font-weight: bolder;
    border: 0px;
    border-bottom: 1px black;
    border-style: dashed;
}
img{
    width: 50%;
    height: 50%;
}
.p-point{
    color: crimson;
    font-weight: bolder;
}
li{
    text-align: left;
    vertical-align: middle;
}